In [1]:
import pandas as  pd

In [26]:
ruta = '../data_science/rawdata/sales_count_month.csv'
archivo2 = pd.read_csv(ruta)

In [24]:
archivo2

,RegionID,SizeRank,RegionName,RegionType,StateName,2008-02-29,2008-03-31,2008-04-30,2008-05-31,2008-06-30,...,2022-11-30,2022-12-31,2023-01-31,2023-02-28,2023-03-31,2023-04-30,2023-05-31,2023-06-30,2023-07-31,2023-08-31
0,102001,0,United States,country,NaN,160785.0,188435.0,208172.0,231377.0,242101.0,...,240432.0,228813.0,173218.0,192893.0,264982.0,245914.0,297124.0,311054.0,266987.0,275126.0
1,394913,1,"New York, NY",msa,NY,7538.0,7972.0,8710.0,9066.0,9664.0,...,11409.0,10641.0,8469.0,7077.0,8962.0,8083.0,9995.0,11985.0,10667.0,12497.0
2,753899,2,"Los Angeles, CA",msa,CA,3229.0,3914.0,4696.0,5257.0,5336.0,...,4695.0,4424.0,3581.0,3866.0,5661.0,5083.0,6075.0,6144.0,5360.0,6310.0
3,394463,3,"Chicago, IL",msa,IL,4285.0,5465.0,5838.0,6378.0,7163.0,...,6690.0,6108.0,4394.0,4553.0,7160.0,6994.0,8739.0,9511.0,7820.0,8267.0
4,394514,4,"Dallas, TX",msa,TX,4887.0,5682.0,6090.0,6801.0,6777.0,...,4833.0,4753.0,3471.0,4884.0,6169.0,5933.0,7398.0,7279.0,6304.0,6625.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87,395006,92,"Provo, UT",msa,UT,258.0,276.0,324.0,346.0,331.0,...,367.0,318.0,261.0,358.0,427.0,419.0,427.0,469.0,439.0,446.0
88,395160,93,"Toledo, OH",msa,OH,186.0,215.0,257.0,304.0,307.0,...,413.0,405.0,287.0,302.0,374.0,394.0,433.0,538.0,439.0,432.0
89,395224,94,"Wichita, KS",msa,KS,62.0,80.0,74.0,78.0,96.0,...,142.0,139.0,107.0,98.0,170.0,104.0,99.0,128.0,130.0,91.0
90,394549,95,"Durham, NC",msa,NC,334.0,433.0,484.0,677.0,689.0,...,496.0,485.0,371.0,426.0,633.0,591.0,706.0,783.0,591.0,670.0
91,394602,152,"Fort Collins, CO",msa,CO,209.0,300.0,355.0,415.0,466.0,...,332.0,276.0,241.0,268.0,382.0,365.0,477.0,480.0,415.0,453.0

In [27]:
# Eliminar las columnas especificadas del DataFrame archivo2
archivo2.drop(columns=["SizeRank", "RegionName", "RegionType", "RegionID"], inplace=True)

# Agrupar por 'StateName', sumar las filas y reiniciar el índice
archivo2 = archivo2.groupby('StateName').sum().reset_index()

# Establecer 'StateName' como el nuevo índice
archivo2 = archivo2.set_index('StateName')

In [28]:
# Seleccionar las filas a partir de la segunda y seleccionar la fila correspondiente a 'NY' del DataFrame archivo2
archivo2 = archivo2.iloc[1:, :].loc['NY']

# Transponer el DataFrame archivo2
archivo2 = archivo2.T

In [29]:
archivo2

2008-02-29     9286.0
2008-03-31     9968.0
2008-04-30    11138.0
2008-05-31    11950.0
2008-06-30    13053.0
               ...
2023-04-30     9713.0
2023-05-31    12212.0
2023-06-30    14651.0
2023-07-31    13364.0
2023-08-31    15583.0
Name: NY, Length: 187, dtype: float64